<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension point="org.eclipse.jdt.core.compilationParticipant">
   		<compilationParticipant
         class="theleo.jstruct.plugin.ecl.CompPlugin"
         id="APT"
         modifiesEnvironment="true"
         createsProblems="true"
         requiredSourceLevel="1.5">
      	<managedMarker markerType="org.eclipse.jdt.apt.core.compile.problem"/>
   		</compilationParticipant>
	</extension>


</plugin>
